*.o
*.d
*.elf
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.hex
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.ind
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.ld
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.map
STM32F103RB/NUCLEO-F103RB/UART_EX_CubeIDE/Debug/
STM32F429ZI/STM32F429_DISC/GUI_Button_EX_CubeIDE/.settings/language.settings.xml
STM32F429ZI/STM32F429_DISC/GUI_Button_EX_CubeIDE/Debug/
*.zip
/STM32F429ZI/STM32F429_DISC/FLASH_EX/STM32F429I-DISCO_EX1 THUMB Debug/
/STM32F746NG/STM32F746_DISC/GUI_Button_EX/STM32F746_DISC_EX1 THUMB Debug/
