*.o
*.d
*.elf
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.hex
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.ind
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.ld
/stm32f103rb/NUCLEO-F103RB/I2C_EX/STM32F103RB THUMB Debug/STM32F103RB.map
